.brand {
	display: flex;
	flex-direction: column;
	width: 52px;
	height: 60px;
	margin-bottom: 2px;
	padding: 2px;
	border: 1px solid $brand-border;
	overflow-y: scroll;

	&__label {
		display: flex;
		justify-content: space-between;
	}
}