.breadrcumps {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	&__content {
		position: relative;
		padding: 5px;
		font-size: 6px;

		&:not(:last-child):before,
		&:not(:last-child)::after {
			content: "";
			position: absolute;
			right: -30px;
			top: 6.5px;
			width: 5px;
			height: 5px;
			border: 1px solid $foundColor;
			border-left: transparent;
			border-bottom: transparent;
			transform: rotate(45deg);
		}

		&:not(:last-child)::after {
			right: -32px;
		}
	}
}