.label {
	&__content {
		position: relative;
		width: 35px;
		&::before {
			content: '';
			position: absolute;
			right: -12px;
			width: 4.2px;
			height: 4.2px;
			border: 1px solid $label;
		}

		&:hover {
			color: lighten($color: $label, $amount: 1);

			&::before {
				border-color: lighten($color: $label, $amount: 20);
			}
		}

		&:active {
			color: darken($color: $label, $amount: 30);

			&::before {
				border-color: darken($color: $label, $amount: 10);
			}
		}
	}

	&__checkbox:checked+&__content::after {
		content: '';
		position: absolute;
		width: 4.5px;
		height: 2.5px;
		border: 0.2vw solid $label;
		border-top: none;
		border-right: none;
		transform: rotate(-45deg);
		right: -13px;
		top: 1px;
	}

	&__checkbox+&__content:hover::after {
		border-color: lighten($color: $label, $amount: 20);
	}
	&__checkbox+&__content:active::after {
		border-color: darken($color: $label, $amount: 10);
	}
}