@import '~normalize.css';
@import 'blocks/border-box';
@import 'blocks/a';
@import 'blocks/img';
@import 'blocks/list-style-ul';
@import 'blocks/visually-hidden';

body {
	padding-left: 5%;
	padding-right: 5%;
	background-color: aqua;
}

@import 'blocks/navigation';
