@import '~normalize.css';
@import 'variables';
@import 'blocks/border-box';
@import 'blocks/a';
@import 'blocks/img';
@import 'blocks/list-style-ul';
@import 'blocks/visually-hidden';

body {
	padding-left: 20px;
	padding-right: 20px;
	background-color: $body;
	font-size: 4.5px;
}

@import 'blocks/navigation';
@import 'blocks/category';
@import 'blocks/label';
@import 'blocks/brand';
@import 'blocks/main-page';
@import 'blocks/product-list';
@import 'blocks/item';
@import 'blocks/multirange';

.filter {
	width: 52px;
}
