$body: white;
$brand-border: gray;
$product-list: white;
$item: white;
$item-info: gold;
$background-info: gray;
$label: gray;
$navigation: black;
$category-border: gray;
$button-add-bg: gray;
$button-add-color: black;
$rangeTrack: gray;
$rangeThumb: gold;
$rangeThumbActive: red;
$foundColor: black;
$filter-button: gold;