$body: aqua;
$brand-border: gray;
$product-list: red;
$item: wheat;
$item-info: gold;
$background-info: gray;
$label: gray;
$navigation: black;
$category-border: gray;
$button-add-bg: gray;
$button-add-color: black;
$rangeTrack: white;
$rangeThumb: white;
$rangeThumbActive: red;
$foundColor: black;